/***************************** DEFAULTS ***************************************/
body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	text-align: center;
}
*,*::before,*::after{
	box-sizing: border-box;       
}
img{
	max-width: 100%;             
	height: auto;
}
.fullcontainer{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
}
.clock{
    width:50vh;
    height: 50vh;
    background:#ffffff;
    display: flex;
    margin: auto;
}
.disk1{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color:#141215;
    margin: auto;
    display: flex;
}
.disk2{
    width: 34%;
    height: 34%;
    border-radius: 50%;
    background-color: #E6E3E3;
    margin: auto;
    display: flex;
}
.disk3{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color:#E6E3E3;
    margin: auto;
    display: flex;
    border : 1.5px solid #b4b4b4;
    position: relative;
}
.hand{
    width: 190%;
    height: 20%;
    background: red;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,-50%) rotate(-90deg);
    transform-origin: left;
    transition: all 0.05s cubic-bezier(0.1 ,2.7 ,0.58 ,1);
}
.hour{
    width: 190%;
    height: 20%;
}
.min{
    width: 300%;
    height: 20%;
}
.sec{
    width: 180%;
    height: 6%;
    background: grey;
}
/*************************MEDIAQUERIES*************************/

@media screen and (max-width:375px){
    .clock{
        width:80vw;
        height:80vw;
    }
}